img.statsImg {
   width: 50px;
}

img.statsHeadlien {
   display: inline-block;
}

img.profile {
  width: 100px;
}

div.voteButtons {
  font-size: 100%;
}

div.stats {
  border: 1px;
}

a.login {
  text-decoration:none;
  color: white;
}
