img.statsImg {
   width: 50px;
}

b.score {
  font-size: 300%;
}

img.statsHeadlien {
   display: inline-block;
}

img.profile {
  width: 100px;
}

div.voteButtons {
  padding: 0;
  font-size: 100%;
}

div.stats {
  border-style:solid;
  border-width:1px;
  border-color:#aaa;
  padding: 5px;
}

a.login {
  text-decoration:none;
  color: white;
  padding: 0px;
}

p.logout {
  text-decoration:none;
  color: white;
}

ui-btn-inner {
    padding: 0;
}
